body{
    background-color: black;
    color: white;
    font-size: 12px;
    font-family: 'Segoe UI';
    text-align: center;
}

button{
    padding: 10px;
    font-size: 12px;
    border: none;
    background-color: aqua;
    cursor: pointer;
    border-radius: 10px;
    
}


button:hover{
    color: black;
    background-color:brown ;
    transform: scale(1.2);
}